/*-----------
base
-------------*/
/* variables */
:root {
  --bg-color-light-gray: hsl(0, 0%, 96%);
  --text-color-dark: #4C4C4B;
}

/* reset */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #F4EFE8;
  font-size: 16px;
}
h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
ul {
  margin: 0;
  padding: 0;
}

/* font  */
html,
body {
  font-family: sans-serif;
}
pre,
code {
  font-family: "Source Code Pro", monospace;
}
header h1 {
  font-size: 1.5rem;
}
footer {
  font-size: 0.7rem;
}
ul {
  list-style: square;
}

/* layout */
.main-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.container {
  width: 80vw;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .container {
    width: 80vw;
  }
}
header,
main {
  display: flex;
  justify-content: center;
}
footer {
  padding: 1rem 0;
  text-align: center;
}

/* color */
html, a {
  color: var(--text-color-dark);
}
header a {
  text-decoration: none;
}

/*-----------
page
-------------*/
/* list */
.article-list {
  padding: 0;
  list-style: none;
}
.article-list li {
  margin-bottom: 1rem;
}

/* single */
.article-page h2 {
  margin-bottom: 0;
  font-size: 1.2rem;
}

/* terms */
.terms h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

/*-----------
components
-------------*/
/* oneline code */
code:not([class]) {
  background-color: var(--bg-color-light-gray);
  padding: 3px 5px;
}

/* code block */
.highlight pre {
  padding: 10px;
  overflow-x: auto;
}

/* date  */
.date {
  display: block;
  font-size: 0.8rem;
}

/* footer links */
.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer-links li:nth-child(1) {
  margin-right: .5rem;
}

/* tag */
.tag {
  font-size: 0.8rem;
}
.tag a {
  text-decoration: none;
}
.tag a:visited {
}
.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.tags li {
  margin-bottom: 0;
  margin-right: 0.5rem;
}
.tags li:last-child {
  margin: 0;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}
.pagination li {
  padding: 0 0.5rem;
}
.pagination li a {
  text-decoration: none;
}
.pagination li.active {
  background-color: #e6e6e6;
  border-radius: 2px;
}
.pagination li.disabled a {
  cursor: default;
  pointer-events: none;
}
.pagination li:first-child span {
  font-size: 0;
}
.pagination li:first-child span:after {
  font-size: 1rem;
  content: "|<";
}
.pagination li:nth-child(2) span {
  font-size: 0;
}
.pagination li:nth-child(2) span:after {
  font-size: 1rem;
  content: "<";
}
.pagination li:nth-last-child(2) span {
  font-size: 0;
}
.pagination li:nth-last-child(2) span:after {
  font-size: 1rem;
  content: ">";
}
.pagination li:last-child span {
  font-size: 0;
}
.pagination li:last-child span:after {
  font-size: 1rem;
  content: ">|";
}
